@page
@model TESTASP_DCPR.Pages.contravention.Control
@{
    ViewData["message"] = "nombre de contravention egal a 3,confiscation de son permis";
       ViewData["message2"] = "attention vous avez 2 contravention ";

}

<h1></h1>

<div class="section-title">
    <h2 >CONTROLE DU CHAUFFEUR</h2>
    <h3 >ETAPE 1</h3>
</div>


<div class="container">
    <div class="row justify-content-center">
        
        <div class="col-md-6">
          <form style="padding-top: 40px;" method="post" class="display-flex-right mx-auto">
                <div asp-validation-summary="ModelOnly" class=" alert alert-danger"></div>
            <div class="form-group">
                <div class="display-8"> 
                <label asp-for="rech" class="control-label">ENTREZ LE NIF DU CONDUCTEUR</label>
                </div>
                <input  asp-for="rech" minlength="10"  required class="form-control" placeholder="NIF" />
                <span  ></span><br>
            </div>
            

             <div class="text-center">
                <input  name="submit" type="submit" value="VERIFICATION"  class="btn btn-primary" />
                <a asp-page="/conducteurs/SERVICE_AGENT" class="btn btn-primary">BACK TO THE MENU</a>
             <span class="text-danger"></span>
            </div><br>
            
            
            @* @if(Model.searchC.Count==0){
                 if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}} *@


            </form>
        </div>
    </div>
</div>
   @if (!Model.nif_exist && Model.rech!=0)
   {
    <a asp-page="/conducteurs/Create" class="btn btn-primary">AJOUTER CE CONDUCTEUR </a>
   }else{
    
@foreach (var item in Model.searchC){
        <div class="table-responsive">
                <table class="table">
                        <thead>
                            <tr>
                                <th>NODOSSIER</th>
                                <th>NOM</th>
                                <th>PRENOM</th>
                                <th>SEXE</th>
                                <th>NIF</th>
                                <th>COMPTEUR</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr> 
                                <td>@item.noDossier</td>
                                <td>@item.nom</td>
                                <td>@item.prenom</td>
                                <td>@item.sexe</td>
                                <td>@item.nif</td>
                                <td class=" alert-danger">@item.compteur</td>
                            </tr>
                        </tbody>
                </table>

           


        </div>
        
        if(@item.compteur>=3){
           
           <div class="alert alert-danger">@ViewData["message"]</div>
            

        
        }else {
            <a asp-page="./Create" class="btn btn-primary" asp-route-id="@item.noDossier">DONNER UNE CONTRAVENTION</a>
        }
    }
   }
<style>



.left-section {
  flex: 1; /* La section de gauche occupera 1/2 de l'espace disponible */
  padding: 20px;
  /* Ajoutez ici les styles spécifiques à la section de gauche (par exemple, pour l'image) */
}
h1, h2, h3, h4, h5, h6 {
        font-family: "Raleway", sans-serif;
        }
        .section-title {
        text-align: center;
        padding-bottom: 30px;
        }
        .section-title h2 {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;
        color: #2c4964;
        }
        .section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #1977cc;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}


    
</style>

 