@page
@model TESTASP_DCPR.Pages.conducteurs.search_contravention
@{
    ViewData["message"] = "pas de contravention a cette date";
    ViewData["message2"] = "pas de contravention a  cette date";

}

<h1></h1>

<div class="section-title">
    <h2 >SEARCH</h2>
</div>



    <div class="row justify-content-center">
        <div class="col-md-8 mx-auto">
            <form action="" method="post">
                <div class="text-center">
                <button type="submit" name="Action" class="btn btn-primary" value="Action1">contravention pour une date</button>
                <a  asp-page="./SEARCH_YEAR" class="btn btn-primary">liste de contravention d'un conducteur par annee </a>
                </div> 
               
                    
                    <div asp-validation-summary="ModelOnly" class="alert-danger"></div>
                    <div class="form-group">
                        <div class="display-6"> 
                            <label asp-for="rech" class="control-label">la date recherche</label>
                        </div>
                        <input  asp-for="rech" required type="date"   class="form-control"  />
                        <span  ></span>
                    </div><br>

                    <div class="">
                        <label class="control-label"></label>
                        <input name="searchAgent_contravention" id="form-control" type="submit" value="search"  class="btn btn-primary" />
                        <span class="text-danger"></span>
                             <a asp-page="/conducteurs/SERVICE_AGENT" class="btn btn-primary">BACK TO THE MENU</a>   
                    </div>

                
            </form>
           
         </div>
     </div>

 

@if (Model.searchC.Count == 0)
{
    
       
    
}
else
{
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>CODE_AGENT</th>
                    <th>NO_FICHE</th>
                    <th>NODOSSIER</th>
                    <th>PLAQUE</th>
                    <th>VEHICULE</th>
                    <th>COULEUR</th>
                    <th>MARQUE</th>
                    <th>ADRESSE</th>
                    <th>ARTIClE</th>
                    <th>MONTANT</th>
                    <th>Statut</th>
                    <th>DATE</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.searchC)
                {
                    <tr> 
                        <td>@item.codeAgent</td>
                        <td>@item.noFiche</td>
                        <td>@item.noDossier</td>
                        <td>@item.plaque</td>
                        <td>@item.typeVehicule</td>
                        <td>@item.couleur</td>
                        <td>@item.marque</td>
                        <td>@item.adresse</td>
                        <td>@item.articleViolation</td>
                        <td>@item.montantAPayer</td>
                        <td>@item.Statut</td>
                        <td>@item.dateContravention</td>
                    </tr>
                }
            </tbody>
            </table>




        </div>
    }


</div>
 <style>



.left-section {
  flex: 1; /* La section de gauche occupera 1/2 de l'espace disponible */
  padding: 20px;
  /* Ajoutez ici les styles spécifiques à la section de gauche (par exemple, pour l'image) */
}
h1, h2, h3, h4, h5, h6 {
        font-family: "Raleway", sans-serif;
        }
        .section-title {
        text-align: center;
        padding-bottom: 30px;
        }
        .section-title h2 {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;
        color: #2c4964;
        }
        .section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #1977cc;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}


    
</style>